.annimation {
    background-color: #c8bfe7;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    position: relative;
    box-shadow: inset 0 0 3px #000;
    border-radius: 5px;
    border: 1px solid #111;
    overflow: hidden;
  }
  .annimation b {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ed1c24;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
    position: absolute;
    -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  }
  
  @-webkit-keyframes moveX {
    from { left: 0; } to { left: 240px; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 240px; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 240px; }
  }
  @keyframes moveX {
    from { left: 0; } to { left: 240px; }
  }
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 140px; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 140px; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 140px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 140px; }
  }